body {
    background-color: #2e9cb8;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 50px;
    text-align: center;
}
h2 {
    color: #000000;
    font-size: 30px;
}

h1 {
    color: #cd3535;
}

div {
    margin: 0 auto;
    position: relative;
    width: 220px;
    height: 600px;
}
img {
    width: 200px;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 300ms ease-in-out; /* smooth fade */
}
#all, #red, #yellow, #green {
    margin-left: auto;
}

button {
    margin-top: 1px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 25px;
    font-family: "Pixelify Sans", sans-serif;
    color: black;
    background-color: rgb(247, 5, 5);
}